<h1>Tipos de Atendimentos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Local</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @types.each do |type| %>
  <tr>
    <td><%= type.name %></td>
    <td><%= type.place.name %></td>
    
    <td><%= link_to raw("<i class=\"icon-white icon-pencil\"> Editar </i>"), 
          edit_type_path(type), 
          class: "btn btn-small btn-primary",
          method: :get %></td>
    <td><%= link_to raw("<i class=\"icon-white icon-trash\"> Deletar </i>"), 
          type, 
          class: "btn btn-small btn-danger",
          method: :delete, data: { confirm: 'Deseja confirmar?'} %></td></td>
  </tr>
    
  </tr>
<% end %>
</table>

<br />

<%=link_to raw("<i class=\"icon-white icon-plus\"> Criar Tipo de Atendimento </i>"), 
          new_type_path, 
          class: "btn btn-success  btn-small"%>

