<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @type.name %>
</p>

<p>
  <b>Local:</b>
  <%= @type.place.name %>
</p>


<%= link_to 'Editar', edit_type_path(@type) %> |
<%= link_to 'Voltar', types_path %>
