<div class="page-header">
<%= simple_form_for(@aluno) do |f| %>
</div>
  <% if @aluno.errors.any? %>
     <div class="alert alert-danger">
      <ul>
      <% @aluno.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %><br />
    <%= f.input :name, label: false %>


    <%= f.label "Matricula" %><br />
    <%= f.input :matricula, label: false %>

    <%= f.label "Nome de Usuário" %><br />
    <%= f.input :username, label: false %>

    <%= f.label "Senha" %><br />
    <%= f.input :password, label: false %>

    <%= f.label "Confirmação de Senha" %><br />
    <%= f.input :password_confirmation, label: false %>

  </div>
    <div class="actions">
  <%=link_to raw("<i class=\"icon-white icon-arrow-left\"> Voltar </i>"),
          new_atendimento_path ,
          class: "btn  btn-warning"%>
    <%= f.submit "Atualizar Aluno", :class => 'btn-success btn' %>
    
  </ul>
</div>

<% end %>
