<%= render "navbar" %>

<div class="container">
<div class="row">
<div class="page-header">

<h1>Lista de Alunos</h1>

<div align="right" >
<%=link_to raw("<i class=\"icon-white icon-plus\"> Criar Aluno </i>"), 
          new_aluno_path, 
          class: "btn btn-success  btn-small"%>
</div>
</div>

<table>
  <tr>
    <th>Nome</th>
    <th>Matricula</th>
    <th></th>
    <th></th>
  </tr>
<% @alunos.each do |aluno| %>
  <tr>
    <td><%= aluno.name %></td>
    <td><%= aluno.matricula %> </td>
    <td><%= link_to raw("<i class=\"icon-white icon-pencil\"> Editar </i>"), 
          edit_aluno_path(aluno), 
          class: "btn btn-small btn-primary",
          method: :get %></td>
    <td><%= link_to raw("<i class=\"icon-white icon-trash\"> Deletar </i>"), 
          aluno, 
          class: "btn btn-small btn-danger",
          method: :delete, data: { confirm: 'Tem certeza que deseja excluir?'} %></td></td>
  </tr>
<% end %>
</table>

<br />
</div>
</div>
