<div class="page-header">
  <script type="text/javascript">

      $(document).ready(function () {
          // Ajax to create the options for the type select
          function get_types(value) { // value = place id
              $.ajax({
                  url: "/types/type_by_place",
                  type: "GET",
                  dataType: "json",
                  data: {"id": value},
                  success: function (response) {
                      var select = $("#type select");
                      select.html("");

                      for (var i = 0; i < response.length; i++) {
                          select.append("<option value=" + response[i].id + ">" + response[i].name + "</option>");
                      }
                  },
                  error: function () {
                      console.log("Erro ao buscar type");
                  }
              });
          }

          $('#place select').change(function () {
              var value = $(this).val();

              get_types(value);
          });

          // When the page html is already, set the select option for type base on the first value of the place
          get_types($('#atendimento_place_id').val());
      });

  </script>



  <%= simple_form_for(@atendimento, :html => {:class => 'form-horizontal'}) do |f| %>


      </div>

      <% if @atendimento.errors.any? %>
          <div class="alert alert-danger">
            <!-- <div id="error_explanation">
      <h2><%= pluralize(@atendimento.errors.count, "Erro") %> Cadastro de Atendimento invalido:</h2>
    -->
            <ul>
              <% @atendimento.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>



      <table>
        <tr>
          <th><%= f.label "Nome" %>
            <br/></th>
          <th><%= f.label "Data" %>
            <br/></th>
          <th><%= f.label "Local de Atendimento" %>
            <br/></th>
          <th><%= f.label "Tipo de Atendimento" %>
            <br/></th>


          </br>
        <tr>
          <td><%= User.find_by_id(@atendimento.user_id).name %></td>
          <td><%=  l(@atendimento.data, :format => '%d/%m/%Y %R')%></td>
          <td id='place'>
            <%= f.select :place_id, Place.order('name ASC').collect { |p| [p.name, p.id] } %></td>
          <td id="type"><%= f.select :type_id, Type.order('name ASC').collect { |t| [t.name, t.id] } %></td>


        </tr>
      </table>
      </tr>
      <div class="actions">
        <%if !(current_user.has_role? :student) %>

            <%= link_to raw("<i class=\"icon-white icon-arrow-left\"> Voltar </i>"),
                        atendimentos_path ,
                        class: "btn  btn-warning"%>

        <% end%>
        <%= button_tag :class => 'btn-success btn' do %>
            <i class='fa fa-refresh'></i> Atualizar Atendimento
        <% end %>

      </div>



  <% end %>

