<%= form_for(@atendimento) do |f| %>
  <% if @atendimento.errors.any? %>
  <div class="alert alert-danger">
    <!-- <div id="error_explanation">
      <h2><%= pluralize(@atendimento.errors.count, "Erro") %> Cadastro de Atendimento invalido:</h2>
    -->
      <ul>
      <% @atendimento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table>
  <tr>
    <th><%= f.label :pessoa %><br /></th>
    <th><%= f.label :"Público Alvo" %><br /></th>
    <th><%= f.label :data %><br /></th>
    <th><%= f.label "Local de Atendimento" %><br /></th>



  </br>
  <tr>
    <td><%= f.select :pessoa_id,  Pessoa.all.collect {|p| [p.name, p.id]} %></td>
    <td><%= f.select :pessoa_id,  Pessoa.all.collect {|p| [p.as_pessoa_type, p.id]} %></td>
    <td><%= f.datetime_select :data %></td>
    <td><%= f.select :place_id,  Place.all.collect {|p| [p.name, p.id]} %></td>

  </tr>
</table>

  <div class="actions">
  <%=link_to raw("<i class=\"icon-white icon-arrow-left\"> Voltar </i>"), 
          atendimentos_path , 
          class: "btn  btn-warning"%>
    <%= f.submit  :class => 'btn-success btn' %>
    
  </ul>
</div>


<% end %>
