<h1>Lista de Atendimentos</h1>
</br>
<table>
  <tr>
    <th>Pessoa</th>
    <th>Data</th>
    <th>Local de Atendimento</th>
    <th></th>
    <th></th>
    <th></th>


<% @atendimentos.each do |atendimento| %>
  </br>
  <tr>
    <td><%= atendimento.pessoa.name %></td>
    <td><%= atendimento.data.to_formatted_s(:data) %></td>
    <td><%= atendimento.place.name %></td>
<td><%= link_to raw("<i class=\"icon-white icon-pencil\"> Editar </i>"), 
          edit_atendimento_path(atendimento), 
          class: "btn btn-small btn-primary",
          method: :get %></td>
    <td><%= link_to raw("<i class=\"icon-white icon-trash\"> Deletar </i>"), 
          atendimento, 
          class: "btn btn-small btn-danger",
          method: :delete, data: { confirm: 'Deseja confirmar?'} %></td></td>
  </tr>
  
<% end %>
</table>
<%=link_to raw("<i class=\"icon-white icon-plus\"> Criar Atendimento </i>"), 
          new_atendimento_path, 
          class: "btn btn-success  btn-small"%>

<br />




