<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Lista de Atendimentos</h1>
      <%= render partial: "shared/navbar_collapsible"%>
      <div align="right">

        <%= link_to raw("<i class=\"fa fa-plus-circle\"> Criar Atendimento </i>"),
                    new_atendimento_path,
                    class: "btn btn-success  btn-small" %>
      </div>

    </div>


    <div id='registros'>
      <table>
        <tr>
          <th>Nome</th>
          <th>Data</th>
          <th>Público Alvo</th>
          <th>Local de Atendimento</th>
          <th>Tipo de Atendimento</th>
          <th></th>
          <%if can? :delete, Atendimento%>
          <th></th>
          <% end %>

          <% @atendimentos.each do |atendimento| %>
            <tr>
              <td><%= atendimento.user.try(:name) %></td>
              <td><%= l(atendimento.try(:data), :format => :long) if atendimento.data %></td>
              <%  if atendimento.user.has_role? :student %>
                  <td><%="Estudante"%></td>
              <% elsif atendimento.user.has_role? :administrative %>
                  <td><%="Servidor Administrativo"%></td>

              <% elsif atendimento.user.has_role? :professor %>
                  <td><%="Professor"%></td>


                 <% end %>

              <td><%= atendimento.place.try(:name) %></td>
              <td><%= atendimento.type.try(:name) %></td>
              <%if can? :edit, Atendimento%>
              <td><%= link_to raw("<i class=\"fa fa-pencil-square-o\"> Editar </i>"),
                              edit_atendimento_path(atendimento),
                              class: "btn btn-small btn-primary",
                              method: :get %></td>
               <%end%>
              <%if can? :delete, Atendimento%>
            <td><%= link_to raw("<i class=\"fa fa-trash-o\"> Deletar </i>"),
                              atendimento,
                              class: "btn btn-small btn-danger",
                              method: :delete, data: {confirm: 'Tem certeza que deseja excluir?'} %></td>
              <%end%>
            </tr>

        <% end %>

      </table>

    </div>

    <br/>

  </div>
</div>

