<!-- Le navigation -->
    <%= render "navbar" %>
<p id="notice"><%= :notice%></p>

<p>
  <b>Nome:</b>
  <%= @atendimento.pessoa.name %>
</p>

<p>
  <b>Data:</b>
  <%= @atendimento.data %>
</p>

<p>
  <b>Lugar:</b>
  <%= @atendimento.place.name %>
</p>


<div class="actions">
  <%=link_to raw("<i class=\"icon-white icon-arrow-left\"> Voltar </i>"), 
          places_path , 
          class: "btn  btn-warning"%>
</div>
