
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>


    <div class="form-inputs">


      <%= f.input :username, :autofocus => true, :label => 'Nome de Usuário', :required => false%>
      <%= f.input :password, :label => 'Senha' %>

      <%= button_tag :class => 'btn-success btn' ,:id => 'login' do %>
          <i class='fa fa-sign-in'></i> Login
      <% end %>

      <!-- Single button -->
      <%=link_to raw("<i class=\"fa fa-users\"> Ainda não tem cadastro? </i>"),
                 new_aluno_path ,
                 class: "btn  btn-primary"%>

    </div>

<% end %>
