
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>


    <div class="form-inputs">


      <%= f.input :username, :autofocus => true, :label => 'Nome de Usuário'%>
      <%= f.input :password, :label => 'Senha' %>
      <%= f.button :submit, "Login", :class => 'btn-success' %>
      <!-- Single button -->
      <%=link_to raw(" Ainda não tem cadastro? "),
                 new_aluno_path ,
                 class: "btn  btn-primary"%>

    </div>

<% end %>
