
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>


    <div class="form-inputs">


      <%= f.label "Nome de Usuário" %><br />
      <%= f.input :username, :required => true, :autofocus => true, :label => false %>
      <%= f.label :password, "Senha "%>
      <%= f.input :password, :required => true, :label => false %>
      <%= f.button :submit, "Login", :class => 'btn-success' %>
      <!-- Single button -->
      <%=link_to raw("<i class=\"icon-white icon-user\"> Ainda não tem cadastro? </i>"),
                 new_aluno_path ,
                 class: "btn  btn-primary"%>

    </div>

<% end %>
