<div class="page-header">
<%= simple_form_for(@comunidade) do |f| %>
</div>
  <% if @comunidade.errors.any? %>
     <div class="alert alert-danger">
      <ul>
      <% @comunidade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %><br />
    <%= f.input :name, label: false %>


    <%= f.label "CPF" %><br />
    <%= f.input :identificacao, label: false %>

    <%= f.label "Email" %><br />
    <%= f.input :email, label: false %>

    <%= f.label "Senha" %><br />
    <%= f.input :password, label: false %>

    <%= f.label "Confirmação de Senha" %><br />
    <%= f.input :password_confirmation, label: false %>

  </div>
    <div class="actions">

    <%= f.submit "Criar Pessoa da Comunidade Externa", :class => 'btn-success btn' %>
    
  </ul>
</div>

<% end %>
