<%= render "navbar" %>
<div class="page-header">
<%= form_for(@comunidade) do |f| %>
</div>
  <% if @comunidade.errors.any? %>
     <div class="alert alert-danger">
      <ul>
      <% @comunidade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %><br />
    <%= f.text_field :name %>


    <%= f.label "CPF" %><br />
    <%= f.text_field :identificacao %>

  </div>
    <div class="actions">
  <%=link_to raw("<i class=\"icon-white icon-arrow-left\"> Voltar </i>"), 
          comunidades_path , 
          class: "btn  btn-warning"%>
    <%= f.submit "Criar Pessoa", :class => 'btn-success btn' %>
    
  </ul>
</div>

<% end %>
