<%= render "navbar" %>
<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @comunidade.name %>
</p>

<p>
  <b>Matrícula:</b>
  <%= @comunidade.identificacao %>
</p>



<div class="actions">
  <%=link_to raw("<i class=\"icon-white icon-arrow-left\"> Voltar </i>"), 
          places_path , 
          class: "btn  btn-warning"%>
</div>
