<h1>Listing atendimentos</h1>

<p>
    <%=link_to 'Novo Atendimento', new_atendimento_path %> |
    <%=link_to 'Novo Tipo de Atendimento', new_tipo_atendimento_path %> |
    <%=link_to 'Novo Local de Atendimento', new_local_atendimento_path %> 
</p>
<table>
  <tr>
    <th>Nome</th>
    <th>Registro</th>
    <th>Data hora</th>
    <th>Publico alvo</th>
    <th>Tipo de atendimento</th>
    <th>Local de atendimento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @atendimentos.each do |atendimento| %>
  <tr>
    <td><%= atendimento.nome %></td>
    <td><%= atendimento.registro %></td>
    <td><%= atendimento.dataHora %></td>
    <td><%= atendimento.publicoAlvo %></td>
    <td><%= atendimento.TipoAtendimento %></td>
    <td><%= atendimento.LocalAtendimento %></td>
    <td><%= link_to 'Show', atendimento %></td>
    <td><%= link_to 'Edit', edit_atendimento_path(atendimento) %></td>
    <td><%= link_to 'Destroy', atendimento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<!-- <%= link_to 'Novo Atendimento', new_atendimento_path %> -->
