<script type="text/javascript">
	$(function() {
		function cutAndPaste(from,to) {
			$(to).append(function() {
			return $(from+" option:selected").each(function() {
			this.outerHTML
			}).remove();
		});
	}
	
		$("#forward").off("click").on("click", function() {
			cutAndPaste("#sourceSelect","#destinationSelect");
		});
	
		$("#backward").off("click").on("click", function() {
			cutAndPaste("#destinationSelect","#sourceSelect");
		});
	});
</script>

<%= render "navbar" %>
<div class="page-header">
	<%= simple_form_for(@place) do |f| %>
</div>
<% if @place.errors.any? %>
<div class="alert alert-danger">
	<ul>
		<% @place.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label "Nome" %>
	
	<%= f.text_field :name %>

  <div class="list">
    <%= f.label "Tipos de Atendimento" %>
  <%= f.association :types, as: :check_boxes, label: false %>
  </div>
</div>
<div class="actions">
	<%= link_to raw("<i class=\"icon-white icon-arrow-left\"> Voltar </i>"),
	places_path ,
	class: "btn btn-warning"%> <%= f.submit "Criar Local de Atendimento", :class => 'btn-success btn' %>

	</div> </ul>
</div>

<% end %>